{% extends "base.html" %}
{% load i18n %}

{% block body_class %}{{ block.super }}artistprofile-edit{% endblock %}

{% block page_title %}Editar ficha de artista - Directo al Artista{% endblock %}
{% block meta_description %}Añade fotos y vídeos a tu ficha{% endblock %}
{% block meta_author %}Directo al Artista{% endblock %}

{% block nav-myaccount %}
<li class="dropdown active">
{% endblock %}

{% block content %}

<section class="register-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="/">Inicio</a></li><!--
                     --><li><a href="/accounts/profile">Mi cuenta</a></li><!--
                     --><li class="active">Añade fotos y vídeos</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" aria-hidden="true">{{ message }}</div>
            {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1 align="center">Sube tus fotos y vídeos</h1>

                {% if user.artist_plan == '4' %}
                <p>Actualmente tienes Plan Gratuito, con sus limitacions, <a href="/upgradeplan">actual&iacute;zalo ahora</a>
                para dar <strong>m&aacute;s visibilidad</strong> a tu anuncio y tener todas las opciones disponibles.</p>

                {% elif user.artist_plan == '3' %}
                <p>Actualmente tienes Plan Iniciado, con sus limitacions, <a href="/upgradeplan">actual&iacute;zalo ahora</a>
                para dar <strong>m&aacute;s visibilidad</strong> a tu anuncio y tener todas las opciones disponibles.</p>

                {% else %}
                <p>Con tu plan actual tienes todas las opciones disponibles, aprovecha la ventaja rellenando todos los campos.</p>
                {% endif %}

                <div class="row">
                    <div class="col-lg-12">
                        <form id="uploadForm" action="upload/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <h2>Sube tus fotos</h2>
                                <p>
                                    Indica las fotos que quieres que aparezca en tu perfil.
                                </p>
                                {% if user.artist_plan == '4' %}
                                <p>
                                    Si actualizas tu plan podr&aacute;s subir hasta 7 fotos.
                                </p>
                                {% endif %}

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Estas son las fotos que serán visibles en tu ficha de artista</h3>
                                    </div>
                                    <div class="panel-body">
                                        <!-- this part will be also updated via ajax after a picture has been updated, deleted or highlited -->
                                        <div id="ajax-updated-block-pictures">
                                            {% include "artistprofile/edit_pictures.html" %}
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <strong>Añade otra foto</strong>
                                        <div class="panel-footer-controls">
                                            <input type="file" id="fileInput" class="input-file" name="upload" size="40">
                                            <span class="upload-message"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <form id="addVideoForm" action="addvideo/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <h2>Sube tus v&iacute;deos</h2>

                                {% if user.artist_plan == '4' %}
                                <p>
                                    Si actualizas de plan podr&aacute;s tener hasta 7 v&iacute;deos.
                                </p>
                                {% endif %}

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Estos son los vídeos que serán visibles en tu ficha de artista</h3>
                                    </div>
                                    <div class="panel-body">
                                        <!-- this part will be also updated via ajax after a video has been updated, deleted or highlited -->
                                        <div id="ajax-updated-block-videos">
                                            {% include "artistprofile/edit_videos.html" %}
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <strong>Añade otro vídeo</strong>
                                        <div class="panel-footer-controls">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" name="videoupload" id="videoInput">
                                                            <span class="input-group-btn">
                                                            <button class="btn btn-default" id="add-video" type="button">Añadir vídeo</button>
                                                            <span class="upload-message"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Pega la direcci&oacute;n (URL) del v&iacute;deo a publicar, compatible con <strong>YouTube y
                                                    Vimeo</strong><br>
                                                    <small>(Ej. <em>http://www.youtube.com/watch?v=HO499_c8uoY</em> o
                                                    <em>http://vimeo.com/81974829</em>)</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <a type="button" href="/accounts/profile" class="btn btn-success btn-lg">Siguiente</a>
            </div>
        </div>

    </div>
</section>
{% endblock %}
