{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} registercomplete{% endblock %}

{% block page_title %}Registro completado - Directo al Artista{% endblock %}
{% block meta_description %}Registro completado{% endblock %}
{% block meta_author %}Directo al Artista{% endblock %}

{% block nav-register %}
<li class="active">
    <a href="/register"><span class="glyphicon glyphicon-plus"></span> reg&iacute;strate</a>
</li>
{% endblock %}

{% block content %}
<!-- container -->
<section class="static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="/">Inicio</a></li><!--
                     --><li><a href="/register">Reg&iacute;strate</a></li><!--
                     --><li><a href="/accounts/promoter/register">Reg&iacute;strate como cliente</a></li><!--
                     --><li class="active">Reg&iacute;stro completado</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Registro completado</h1>
                <p>
                    Te hemos enviado un correo electr&oacute;nico, haz click en el enlace para comprobar que la direcci&oacute;n es correcta y as&iacute; poder disfrutar de Directo al Artista.
                </p>
                <p>
                    Si no lo encuentras en tu bandeja de entrada, <strong>revisa en Spam</strong>, puede tardar algunos minutos en llegar.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
