<p>
    Hola {{ user.first_name }},
</p>
<p>
    Sentimos comunicarte que no cumples los requisitos para ser dado de alta como agencia y poder publicar anuncios,
    <strong>pero s&iacute; te hemos aceptado como promotor</strong> para que pueda contactar con los artistas VIP
    sin esperas.
</p>
<p>
    Te animamos a consultar nuestro cat&aacute;logo:<br>
    <a href="https://www.directoalartista.com/catalog" target="_blank">http://www.directoalartista.com/catalog</a>
</p>
<p>
    Si tienes cualquier duda, puedes consultar nuestra <a href="https://www.directoalartista.com/faq">ayuda</a> o
    contactar con nosotros a trav&eacute;s del <a href="https://www.directoalartista.com/contact">formulario</a>.
</p>
<p>
    Atentamente,<br>
    El equipo de Directo al Artista
</p>