<p>
    ¡Hola {{ user.first_name }}!
</p>
<p>
    Tu plan ha sido cambiado a Gratuito. Entra y revisa tu ficha.
</p>
<p>
    Recuerda que los promotores pueden contactar contigo directa y gratuitamente. En cualquier momento puedes
    actualizar tu plan accediendo a <a href="https://www.directoalartista.com/accounts/profile/">Mi cuenta</a>
</p>
<p>
    Si tienes cualquier duda, consulta nuestra <a href="https://www.directoalartista.com/faq">ayuda</a> o
    contacta con nosotros a trav&eacute;s del <a href="https://www.directoalartista.com/contact">formulario</a>.
</p>
<p>
    Atentamente,<br>
    El equipo de Directo al Artista
</p>
<p>
    <small>Nota: Correo enviado autom&aacute;ticamente, por favor, no responda.</small>
</p>