<p>&iexcl;Hola {{ user.first_name }}!</p>
<p>
    Hemos recibido una petición para reiniciar tu contraseña de acceso. Si no has sido tu, simplemente ignora este correo.
</p>
<p>
    En caso contrario, clica en el siguiente link para configurar una nueva contraseña:<br>
    https://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
</p>
<p>
    Estás registrado con el correo {{ user.get_username }}
</p>
<p>
    Atentamente,<br>
    El equipo de Directo al Artista
</p>
<p>
    <small>Nota: Correo enviado autom&aacute;ticamente, por favor, no responda.</small>
</p>