<p>
    Hola {{ user.first_name }},
</p>
<p>
    Sentimos comunicarte que actualmente no cumples los requisitos de promotor para poder contactar con los artistas
    VIP.
</p>
<p>
    Por favor, facil&iacute;tanos m&aacute;s informaci&oacute;n sobre el tipo de evento que realizar&aacute;s y cual es tu
    trabajo en este evento a trav&eacute;s del <a href="https://www.directoalartista.com/contact">formulario</a>.
</p>
<p>
    Si tienes cualquier duda, consulta nuestra <a href="https://www.directoalartista.com/faq">ayuda</a> o
    contacta con nosotros a trav&eacute;s del <a href="https://www.directoalartista.com/contact">formulario</a>.
</p>
<p>
    Atentamente,<br>
    El equipo de Directo al Artista
</p>