{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} cookies{% endblock %}

{% block page_title %}Política de cookies - Directo al Artista{% endblock %}
{% block meta_description %}Política de cookies{% endblock %}
{% block meta_author %}Directo al Artista{% endblock %}

{% block content %}
<!-- container -->
<section class="static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="/">Inicio</a></li><!--
                     --><li class="active">Política de cookies</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Pol&iacute;tica de cookies</h1>

                <h4>&iquest;Qu&eacute; son las cookies?</h4>
                <p>
                    Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas p&aacute;ginas web. Las cookies permiten a una p&aacute;gina web, entre otras cosas, almacenar y recuperar informaci&oacute;n sobre los h&aacute;bitos de navegaci&oacute;n de un usuario o de su equipo y, dependiendo de la informaci&oacute;n que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario.
                </p>
                <h4>
                    &iquest;Qu&eacute; tipos de cookies puede utilizar esta p&aacute;gina web?
                </h4>
                <p>
                    <ul>
                        <li>
                            Cookies de an&aacute;lisis: Son aqu&eacute;llas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el n&uacute;mero de usuarios y as&iacute; realizar la medici&oacute;n y an&aacute;lisis estad&iacute;stico de la utilizaci&oacute;n que hacen los usuarios del servicio ofertado. Para ello se analiza su navegaci&oacute;n en nuestra p&aacute;gina web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.
                        </li><!--
                     --><li>
                            Cookies publicitarias: Son aqu&eacute;llas que, bien tratadas por nosotros o por terceros, nos permiten gestionar de la forma m&aacute;s eficaz posible la oferta de los espacios publicitarios que hay en la p&aacute;gina web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realice de nuestra p&aacute;gina web. Para ello podemos analizar sus h&aacute;bitos de navegaci&oacute;n en Internet y podemos mostrarle publicidad relacionada con su perfil de navegaci&oacute;n.
                        </li>
                    </ul>
                </p>
                <h4>Uso de las cookies</h4>
                <p>
                    Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuraci&oacute;n de las opciones del navegador instalado en su ordenador:
                </p>
                <p>
                    <ul>
                        <li>
                            <p>
                                Internet Explorer: Herramientas -&gt; Opciones de Internet -&gt; Privacidad -&gt; Configuraci&oacute;n.
                            </p>
                            <p>
                                Para m&aacute;s informaci&oacute;n, puede consultar el
                                <a href="http://windows.microsoft.com/es-ES/windows/support" target="_blank">soporte de Microsoft</a>
                                o la Ayuda del navegador.
                            </p>
                        </li><!--
                     --><li>
                            <p>
                                Firefox: Herramientas -&gt; Opciones -&gt; Privacidad -&gt; Historial -&gt; Configuraci&oacute;n Personalizada.
                            </p>
                            <p>
                                Para m&aacute;s informaci&oacute;n, puede consultar el
                                <a href="http://support.mozilla.org/es/home" target="_blank">soporte de Mozilla</a>
                                o la Ayuda del navegador.
                            </p>
                        </li><!--
                     --><li>
                            <p>
                                Chrome: Configuraci&oacute;n -&gt; Mostrar opciones avanzadas -&gt; Privacidad -&gt; Configuraci&oacute;n de contenido.
                            </p>
                            <p>
                                Para m&aacute;s informaci&oacute;n, puede consultar el
                                <a href="http://support.google.com/chrome/?hl=es" target="_blank">soporte de Google</a>
                                o la Ayuda del navegador.
                            </p>
                        </li><!--
                     --><li>
                            <p>Safari: Preferencias -&gt; Seguridad.</p>
                            <p>
                                Para m&aacute;s informaci&oacute;n, puede consultar el
                                <a href="http://www.apple.com/es/support/safari/" target="_blank">soporte de Apple</a>
                                o la Ayuda del navegador.
                            </p>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
