{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} legal{% endblock %}

{% block page_title %}Aviso legal y condiciones - Directo al Artista{% endblock %}
{% block meta_description %}Aviso legal y condiciones del servicio{% endblock %}
{% block meta_author %}Directo al Artista{% endblock %}

{% block content %}
<!-- container -->
<section class="static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="/">Inicio</a></li><!--
                     --><li class="active">Aviso legal y condiciones del servicio</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Aviso legal y condiciones de uso</h1>

                <h4>Datos del titular</h4>
                <address>
                    <strong>Tres Network SCP</strong><br>
                    CIF: J-25747205<br>
                    Passeig de la Sardana, 15<br>
                    25230 Mollerussa (Lleida)<br><br>
                    Correo electr&oacute;nico:
                    <a href="mailto:info@directoalartista.com" target="_blank">info@directoalartista.com</a><br>
                    Tel&eacute;fono de contacto: 634540056</p>
                </address>

                <h4>Objeto</h4>
                <p>
                    TRES NETWORK SCP, responsable del sitio web DIRECTO AL ARTISTA, pone a disposici&oacute;n de los usuarios el presente documento con el que pretende dar cumplimiento a las obligaciones dispuestas en la Ley 34/2002, de Servicios de la Sociedad de la Informaci&oacute;n y del Comercio Electr&oacute;nico (LSSI-CE), as&iacute; como informar a todos los usuarios del sitio web respecto a cu&aacute;les son las condiciones de uso del sitio web.
                </p>
                <p>
                    Toda persona que acceda a este sitio web asume el papel de usuario, comprometi&eacute;ndose a la observancia y cumplimiento riguroso de las disposiciones aqu&iacute; dispuestas, as&iacute; como a cualesquiera otra disposici&oacute;n legal que fuera de aplicaci&oacute;n.
                </p>
                <p>
                    El prestador se reserva el derecho a modificar cualquier tipo de informaci&oacute;n que pudiera aparecer en el sitio web, sin que exista obligaci&oacute;n de preavisar o poner en conocimiento de los usuarios dichas obligaciones, entendi&eacute;ndose como suficiente con la publicaci&oacute;n en el sitio web del prestador.
                </p>

                <h4>Responsabilidad y obligaci&oacute;n de los usuarios</h4>
                <p>
                    El prestador se exime de cualquier tipo de responsabilidad derivada de la informaci&oacute;n publicada en su sitio web, siempre que esta informaci&oacute;n haya sido manipulada o introducida por un tercero ajeno al mismo.
                </p>
                <p>
                    Desde el sitio web del cliente es posible que se redirija a contenidos de terceros sitios web. Dado que el prestador no puede controlar siempre los contenidos introducidos por los terceros en sus sitios web, &eacute;ste no asume ning&uacute;n tipo de responsabilidad respecto a dichos contenidos. En todo caso, el prestador manifiesta que proceder&aacute; a la retirada inmediata de cualquier contenido que pudiera contravenir la legislaci&oacute;n nacional o internacional, la moral o el orden p&uacute;blico, procediendo a la retirada inmediata de la redirecci&oacute;n a dicho sitio web, poniendo en conocimiento de las autoridades competentes el contenido en cuesti&oacute;n.
                </p>
                <p>
                    El prestador no se hace responsable de la informaci&oacute;n y contenidos almacenados, a t&iacute;tulo enunciativo pero no limitativo, en foros, chats, generadores de blogs, comentarios, redes sociales u otro medio que permita a terceros publicar contenidos de forma independiente en la p&aacute;gina web del prestador. No obstante y en cumplimiento de lo dispuesto en el art. 11 y 16 de la LSSI-CE, el prestador se pone a disposici&oacute;n de todos los usuarios, autoridades y fuerzas de seguridad, y colaborando de forma activa en la retirada o en su caso bloqueo de todos aquellos contenidos que pudieran afectar o contravenir la legislaci&oacute;n nacional, o internacional, derechos de terceros o la moral y el orden p&uacute;blico. En caso de que el usuario considere que existe en el sitio web alg&uacute;n contenido que pudiera ser susceptible de esta clasificaci&oacute;n, se ruega lo notifique de forma inmediata al administrador del sitio web.
                </p>
                <p>
                    Este sitio web tiene la finalidad de poner en contacto sus usuarios. Una vez facilitado el contacto, TRES NETWORK SCP no se hace responsable de los tratos que haga el anunciante y el contratista. TRES NETWORK SCP, revisa peri&oacute;dicamente las altas de nuevos usuarios pero no puede garantizar que los datos de contacto introducidos por los usuarios sean verazes o que no se trate de una estafa. Por estos motivos, no recomendamos que se pague nada con antelaci&oacute;n al servicio contratado. Los usuarios siempre tienen la &uacute;ltima responsabilidad.
                </p>
                <p>
                    El usuario es consciente de que acepta voluntariamente el uso del servicio, bajo su única y exclusiva responsabilidad. Toda la información que facilite en el sitio web, deberá ser veraz, garantizando el propio usuario la autenticidad de todos aquellos datos que comunique como consecuencia de la cumplimentación de los formularios. Tambi&eacute;n se compromete a mantener esta informaci&oacute;n actualizada.
                </p>
                <p>
                    Queda prohibido utilitzar los contactos facilitados en esta web para SPAM, u otro tipo de informaci&oacute;n diferente a la de cerrar un bolo o cerrar un acuerdo que pueda ser de inter&eacute;s para el artista.
                </p>

                <h4>Protecci&oacute;n de datos personales</h4>
                <p>
                    El prestador se encuentra comprometido con el cumplimiento de la normativa espa&ntilde;ola de protecci&oacute;n de datos de car&aacute;cter personal, y garantiza el cumplimiento &iacute;ntegro de las obligaciones dispuestas, as&iacute; como la implementaci&oacute;n de las medidas de seguridad dispuestas en el art. 9 de la Ley 15/1999, de Protecci&oacute;n de Datos de Car&aacute;cter Personal (LOPD) y en el Reglamento de Desarrollo de la LOPD.
                </p>
                <p>
                    El prestador pone a disposici&oacute;n de los usuarios la Pol&iacute;tica de Privacidad de la entidad informando a los usuarios respecto a los siguientes aspectos:
                </p>
                <ul>
                    <li>Datos del Responsable del tratamiento.</li><!--
                 --><li>Datos tratados.</li><!--
                 --><li>Fichero en el que se almacenan.</li><!--
                 --><li>Finalidad del tratamiento.</li><!--
                 --><li>
                        Obligatoriedad o no de facilitarlos, as&iacute; como las consecuencias en caso de no facilitarlos.
                    </li><!--
                 --><li>
                        Sobre los derechos que asisten a todo usuario y el procedimiento para ejercitarlos.
                    </li>
                </ul>
                <p>
                    El usuario tiene derecho a acceder a esta informaci&oacute;n, a rectificar y a darse de baja de los servicios. Lo puede realizar utilizando las opciones disponibles en su cuenta de usuario, utilizando el formul&aacute;rio o tel&eacute;fono indicado en el apartado de contacto o enviando una carta a nuestra sede.
                </p>

                <h4>Disponibilidad</h4>
                <p>
                    TRES NETWORK SCP no se hace responsable ni asegura una disponibilidad continuo del sitio web y/o sus servicios, excluyendo cualquier indemnizaci&oacute;n que pueda pedir un usuario por no funcionar la web y/u otros problemas relacionados con la misma.
                </p>
                <p>
                    Este sitio web ha sido revisado y probado para que funcione correctamente. En principio, puede garantizarse el correcto funcionamiento los 365 d&iacute;as del a&ntilde;o, 24 horas al d&iacute;a. No obstante, el prestador no descarta la posibilidad de que existan ciertos errores de programaci&oacute;n, o que acontezcan fallos en los servidores o red, causas de fuerza mayor, cat&aacute;strofes naturales, huelgas, o circunstancias semejantes que hagan imposible el acceso a la p&aacute;gina web.
                </p>

                <h4>Propiedad intelectual e industrial</h4>
                <p>
                    El sitio web, incluyendo a t&iacute;tulo enunciativo pero no limitativo su programaci&oacute;n, edici&oacute;n, compilaci&oacute;n y dem&aacute;s elementos necesarios para su funcionamiento, los dise&ntilde;os, logotipos, texto y/o gr&aacute;ficos son propiedad del prestador o en su caso dispone de licencia o autorizaci&oacute;n expresa por parte de los autores. Todos los contenidos del sitio web se encuentran debidamente protegidos por la normativa de propiedad intelectual e industrial, as&iacute; como inscritos en los registros p&uacute;blicos correspondientes.
                </p>
                <p>
                    Independientemente de la finalidad para la que fueran destinados, la reproducci&oacute;n total o parcial, uso, explotaci&oacute;n, distribuci&oacute;n y comercializaci&oacute;n, requiere en todo caso de la autorizaci&oacute;n escrita previa por parte del prestador. Cualquier uso no autorizado previamente por parte del prestador ser&aacute; considerado un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor.
                </p>
                <p>
                    Los dise&ntilde;os, logotipos, texto y/o gr&aacute;ficos ajenos al prestador y que pudieran aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse respecto a los mismos. En todo caso, el prestador cuenta con la autorizaci&oacute;n expresa y previa por parte de los mismos.
                </p>
                <p>
                    Para realizar cualquier tipo de observaci&oacute;n respecto a posibles incumplimientos de los derechos de propiedad intelectual o industrial, as&iacute; como sobre cualquiera de los contenidos del sitio web, puede hacerlo a trav&eacute;s del siguiente correo electr&oacute;nico.
                </p>

                <h4>Ley aplicable y jurisdicci&oacute;n</h4>
                <p>
                    Para la resoluci&oacute;n de todas las controversias o cuestiones relacionadas con el presente sitio web o de las actividades en &eacute;l desarrolladas, ser&aacute; de aplicaci&oacute;n la legislaci&oacute;n espa&ntilde;ola, a la que se someten expresamente las partes, siendo competentes para la resoluci&oacute;n de todos los conflictos derivados o relacionados con su uso los Juzgados y Tribunales de Lleida.
                </p>

                <h4>Publicaci&oacute;n de anuncios</h4>
                <p>
                    Para rellenar y publicar un anuncio tiene que ser artista. Acepta y confirma:
                </p>
                <ul>
                    <li>
                        Que se publique toda la informaci&oacute;n que ha introducido, incluiendo los datos de contacto: tel&eacute;fono y correo electr&oacute;nico.
                    </li><!--
                 --><li>
                        Que la informaci&oacute; introducida no va en contra de ninguna ley aplicable ni ning&uacute;n grupo de personas.
                    </li><!--
                 --><li>Que todos los datos rellenados son veraces.</li><!--
                 --><li>
                        Que si se detecta anomalias en un anuncio o cuenta de usuario, podemos anular el anuncio y/o la cuenta de usuario, sin que se tenga que proceder a indemnizar o devolver la cuantias pagadas. Dependiendo de la gravedad, el usuario asume todas las responsabilidades sobre los datos publicados, eximiendo a TRES NETWORK SCP de cualquier responsabilidad.
                    </li><!--
                 --><li>
                        Que si tiene un plan de pago, est&aacute; obligado a satisfacer todos los pagos debidos.
                    </li><!--
                 --><li>
                        Que da autorizaraci&oacute;n a TRES NETWORK SCP para actualizar la informaci&oacute;n de contacto u otros campos, sin previo aviso, a fin de  mantener la informaci&oacute;n de su ficha actualizada.
                    </li>
                </ul>

                <p>
                    TRES NETWORK SCP no puede controlar todos los anuncios que hay publicados en la web, por lo que el &uacute;nico responsable de estos es el propio usuario que lo ha publicado.
                </p>
                <p>
                    Si ve alg&uacute;n anuncio con informaci&oacute;n falsa o que inclumpla alguna condici&oacute;n del contrato, por favor, comun&iacute;quelo rellenando el <a href="/contact">formulario de contacto</a> o por tel&eacute;fono.
                </p>

                <h4>Condiciones de pago</h4>
                <p>
                    El usuario acepta el pago indicado en la web. Los artistas tienen un l&iacute;mite legal de 7 d&iacute;as para pedir la devoluci&oacute;n del dinero y volver a una cuenta con Plan Gratuito.
                </p>
                <p>
                    Los promotores o agencias podr&aacute;n pedir la devoluci&oacute;n del dinero siempre que no se les haya facilitado el contacto solicitado. Una vez facilitado, ya no podr&aacute;n pedir la devoluci&oacute;n del importe porque se entiende que el servicio ya ha sido realizado. Si el contacto facilitado no es correcto, entonces s&iacute; que se podr&aacute; reclamar la devoluci&oacute;n, previa comprovaci&oacute;n de que es incorrecto, del importe o que DIRECTO AL ARTISTA le pase el contacto correcto.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
