{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} passwordresetconfirm{% endblock %}

{% block page_title %}Nueva contrase&ntilde;a - Directo al Artista{% endblock %}
{% block meta_description %}Nueva contrase&ntilde;a{% endblock %}
{% block meta_author %}Directo al Artista{% endblock %}

{% block content %}
<!-- container -->
<section class="static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="/">Inicio</a></li><!--
                     --><li><a href="/password_reset">Reiniciar contrase&ntilde;a</a></li><!--
                     --><li class="active">Nueva contrase&ntilde;a</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Nueva contrase&ntilde;a</h1>
            </div>
        </div>

        {% if validlink %}

        <div class="row">
            <div class="col-md-12">
                <p>
                    Por favor, entra la nueva contrase&ntilde;a dos veces, verificaremos que est&aacute; correctamente escrita.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="well col-md-offset-3 col-md-6">
                <form method="post" action="" class="form-horizontal" role="form">
                    {% csrf_token %}
                    {% if form.new_password1.errors %}
                    <div class="alert alert-warning">No has escrito ninguna contrase&ntilde;a o est&aacute; en un formato incorrecto.</div>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="password" placeholder="Nueva contrase&ntilde;a" id="new_password1" name="new_password1" class="form-control">
                        </div>
                    </div>
                    {% if form.new_password2.errors %}
                    <div class="alert alert-warning">No has escrito ninguna contrase&ntilde;a, est&aacute; en un formato incorrecto o las contrase&ntilde;as no coinciden.</div>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="password" placeholder="Repite la contrase&ntilde;a" id="new_password2" name="new_password2" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input class="btn btn-danger" type="submit" id="sign-in" value="Cambiar contrase&ntilde;a">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12">
                <p>
                    El link para reiniciar el correo no es v&aacute;lido, seguramente porque ya lo has usado. Por favor, <a href="/password_reset">pide una contrase&ntilde;a nueva</a>.
                </p>
            </div>
        </div>

        {% endif %}

    </div>
</section>
{% endblock %}
