{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }}passwordchangedone{% endblock %}

{% block page_title %}Contrase&ntilde;a cambiada - Directo al Artista{% endblock %}
{% block meta_description %}Contrase&ntilde;a cambiada{% endblock %}
{% block meta_author %}Directo al Artista{% endblock %}

{% block nav-myaccount %}
<li class="dropdown active">
{% endblock %}

{% block content %}
<!-- container -->
<section class="static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="/">Inicio</a></li><!--
                     --><li><a href="/accounts/profile">Mi cuenta</a></li><!--
                     --><li><a href="/accounts/password_change">Cambiar contrase&ntilde;a</a></li><!--
                     --><li class="active">Contrase&ntilde;a cambiada</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Contrase&ntilde;a cambiada</h1>
                <p>Tu contraseña ha sido cambiada.</p>
                <div class="text-left">
                    <p>
                        <a href="/accounts/profile" class="btn btn-success btn-lg">Volver a mi cuenta</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}